*
{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin: 0px;
}
body
{
    background-color: rgb(24, 24, 24);
}
input:focus, button:focus{
    outline: none;
    opacity: 90%;
}
button
{
    cursor: pointer;
}